@use "../abstract/variables" as vstyle;

body {
    margin: 0 auto;
    font-family: vstyle.$font-text;
    background-color: vstyle.$bg-color-primary;
}

h1, h2 {
    font-family: vstyle.$font-titre;
    font-weight: 100;
}

h1 {
    font-size: 4rem;
}

h2 {
    color: vstyle.$titre-color;
    font-size: 4rem;
    margin-bottom: -2rem; 
}

.sous-titre {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 4vh;
    font-weight: 600;
}

a {
    text-decoration: vstyle.$style-less;
}
