@use "../abstract/variables" as vstyle;

@font-face {
    font-family: vstyle.$font-titre;
    src: url(../fonts/Allura/Allura-Regular.ttf);
}

@font-face {
    font-family: vstyle.$font-text;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}